<html>
<head>
    <title>SImg - Main Page</title>
    <link rel="stylesheet" href="index.css">

</head>
<body>
    <div class="center">
        <h1>TSImg - The worst image host on earth!</h1>
        Maybe you would like to <a href="login">log in</a> instead?
    </div>
</body>
</html>
